*{
    margin: 0;
    padding: 0;
    font-family: Ubuntu , sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    padding: 1rem 0;
}

.logo{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    gap: 50px;
}

.nav-text{
    text-decoration: none;
    color: black;
}

.call-to-action{
    display: flex;
    gap: 2rem;
}

.call{
    display: flex;
    text-decoration: none;
    color: black;
    gap: 0.8rem;
}

/* main section */

.main{
    overflow:hidden;
}

.x{
    color: #FF5A30;
}

.main-text{
    position: absolute;
    top: 36%;
    left: 22%;
    line-height: 1.3; 
}

.main-title{
    display: flex;
    font-size: 4.3rem;
    color: white;
}

.main-description{
    color: #FFFFFF;
    width: 35rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 1rem;
}

.main-buttons{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}

.main-button{
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    border: none;
    border-radius: 5px;
    height: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    text-align: center;
}

.m-first-btn{
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid white;
    overflow: hidden;
    outline: none;
    color: white;
    border-radius: 5px;
    width: 17rem;
    height: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.m-second-btn{
    background-color: #FF5A30;
    border: none;
    border-radius: 5px;
    width: 13rem;
    height: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* main section [about] */

.main-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-about-text{
    position: relative;
    text-align: center;
    margin: 4rem 0;
}

.m-about-title{
    font-size: 48px;
}

.m-about-description{
    line-height: 4;
    font-size: 18px;
    color: gray;
}

.main-about-img{
    position: relative;
    align-items: center;
}

.m-about-img{
    filter: brightness(50%);
}

.m-about-play-btn{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m-about-play-btn:hover{
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: 1s;
}

.m-about-play-btn:not(:hover){
    transition: 1s;
}


/* main section [values] */

.main-values{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
}

.main-values-text{
    text-align: center;
}

.m-values-title{
    font-size: 48px;
}

.m-values-description{
    line-height: 6;
}

.main-values-images{
    display: flex;
    align-items: center;
    margin: 0rem 14rem;
    gap: 2rem;

}

.m-values-divider{
    width: 1px;
    height: 200px;
}

.values-p{
    margin: 0.7rem 0;
}

.values-text{
    margin-top: 1rem;
}

/* main section [forms] */

.main-forms{
    width: 70rem;
    height: 13rem;
    background-color: antiquewhite;
    justify-content: center;
    margin: 8rem auto;
}

.main-form-columns{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.forms-centered{
    padding: 2rem 0;
}

.form-flex-columns{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.main-input{
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    width: 260px;
    height: 44px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f4f5f6;
  }

.main-forms-button{
    background-color: #FF5A30;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 6rem;
    height: 2.6rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1.7rem 0;
}